@media (max-width: 1100px) {

    section {
        padding: 0em 2em;
    }

    .hero-box {
        margin-left: 3em
    }

    .hero-box h5 {
        margin: 0;
        margin-bottom: 15px;
    }

    .hero .hero-box h1 {
        font-size: 2.7rem;
        line-height: 1.3;
    }

    .hero-box h2 {
        margin: 1px 0;
        font-size: 2.7rem;
        line-height: 1.3;
    }

    .hero-box p {
        font-size: 15px;
        line-height: 2;
        width: 85%;
    }

    .grad-heading {
        margin-bottom: 1em;
    }
    
    .grad-heading hr {
        width: 200px;
    }

}

@media(max-width:695px){ 

    header .header-section .navbar a .color-no { 
        display: flex;
    }

}

@media(max-width:600px){
    
    header {
        padding: 1em;
    }

    header .header-section {
        width: 95.1%;
    }

    header img {
        width: 60px;
    }

    header .header-section .navbar a { 
        display: none;
    }

    section {
        padding: 1em;
    }

    .hero-section {
        margin-bottom: 2em;
    }

    .hero-box {
        margin-left: 1em;
    }

    .hero-box h5 {
        margin: 0 0 10px;
    }

    .hero-box h1 {
        font-size: 2rem;
        line-height: 1.3;
    }

    .hero-box h2 {
        margin: 1px 0;
        width: 90%;
    }

    .hero-box p {
        font-size: 14px;
        line-height: 2;
        width: 90%;
    }

    .grad-heading hr {
        width: 60px;
    }

    .grad-heading h2 {
        font-size: 20px
    }

    .contact-txt h1 {
        font-size: 2.5rem;
        margin: 1px 0;
    }

    .workplace-container {
        width: 100%;
    }

    .tab-container .tab-box {
        flex-direction: column;
        width: 100%;
    }

    .tab-container .tab-heading {
        border-bottom: 1px solid;
        border-left: 0 solid;
        display: flex;
        flex-direction: row;
        height: fit-content;
        margin-bottom: 2em;
    }

    .tab-container .tab-heading .tab-head{
        background-color: transparent;
        border: none;
        color: var(--color-text-dark);
        cursor: pointer;
        font-size: 14px;
        padding: 1.5em 1em;
    }

    .tab-container .tab-heading .tab-head.cus-active {
        border-bottom: 1px solid;
        border-left: 0 solid !important;
    }

    .tab-container .tab-contents {
        margin-left: 0;
    }

}