@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600&display=swap");

:root {
    --BG-Cobalt: #0a1323;
    --Steel-blue: #c1cbf3eb;
    --Aquamarine-light: #c1cbf3;
}

/* Base style */

* {
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

body {
	width: 100vw;
    overflow-x: hidden;
    color: var(--Aquamarine-light);
    background: var(--BG-Cobalt);
}

main {
    position: relative;
    margin: auto;
}

/* Reuseable components */

section {
    padding: 0em 4em;
}

.grad-btn {
    position: relative;
    min-width: 110px;
    height: 42px;
    font-size: 14px;
    font-weight: 600;
    background: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg,orange,green,#0593ff,violet);
    color: var(--Aquamarine-light);
}

.grad-txt {
    margin-right: 0.3em;
    font-weight: 800;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,orange,green,#0593ff,violet);
    color: transparent;
}

.grad-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3em;
}

.grad-heading span {
    margin-right: 10px;
    font-size: 25px;
}

.grad-heading h2 {
    font-size: 25px;
    margin-right: 10px;
}

.grad-heading hr {
    height: 1px;
    width: 300px;
    background-color: #5a5a5a;
    border: none;
}

/* Header starts */

header {
    padding: 2em 4em;
}

header .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}

header img {
    width: 80px;
}

header .header-section .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}

header .header-section nav a {
    margin: 0 1.5em;
    color: var(--Aquamarine-light);
    text-decoration: none;
}

/* Hero starts */

.hero-section {
    margin-bottom: 5em;
}

.hero-box {
    margin-top: 5em;
    margin-left: 5em;
}

.hero-box h1, .hero-box h2 {
    font-size: 4rem;
    margin: 1px 0;
}

.hero-box p {
    font-weight: 500;
    line-height: 2;
    width: 60%;
}

.hero-box hr {
    background-color: #5a5a5a;
    border: none;
    height: 1px;
    margin: 1.8em 0;
    width: 280px;
}

/* Skills starts */

.skills-section {
    margin-bottom: 8em;
}

.skills-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex: 1 1 30rem;
}

.skills-list .skills-list-box {
    background-color: #0f1930;
    border: 1px solid rgba(78,78,78,.358);
    border-radius: 10px;
    box-shadow: 3px 3px 5px 2px #000;
    min-height: 300px;
    margin: 1em;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    width: 350px;
}

.skills-list-box .box-head {
    display: flex;
    padding: 10px 1em;
    gap: 10px;
    border-bottom: 1px solid rgba(78,78,78,.358);
}

.box-head .box-indicator span {
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: left;
    border-radius: 50%;
}

.box-head .box-indicator span:first-child {
    background-color: #fb4646;
    margin-left: 0;
}

.box-head .box-indicator span:nth-child(2) {
    background-color: #fcb024;
}

.box-head .box-indicator span:nth-child(3) {
    background-color: #29c233;
}

.box-head h5 {
    margin: 0;
}

.skills-list-box .box-contents {
    padding: 1em;
    text-align: left;
}

.box-contents .box-content-list {
    display: block;
    margin-bottom: 20px;
}

.box-contents span {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
}

/* Workplace starts */

.workplace-section {
    margin-bottom: 5em;
}

.workplace-container {
    margin: auto;
    width: 70%;
}

.tab-container .tab-box {
    display: flex;
    flex-direction: row;
}

.tab-container .tab-heading {
    border-left: 1px solid;
    border-left-color: currentcolor;
    border-color: rgba(90,90,90,.726);
    height: 230px;
    margin-bottom: 1em;
    position: relative;
    width: -webkit-max-content;
    width: max-content;
    z-index: 3;
}

.tab-container .tab-heading .tab-head {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 1.5em 1em;
}

.tab-container .tab-heading .tab-head.cus-active {
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg,orange,green,#0593ff,violet);
    border-left: 2px solid !important;
    border-width: 1px;
    border-left-width: 1px;
    color: var(--color-secondary);
    font-weight: 600;
}

.tab-container .tab-contents {
    margin-left: 2em;
}

.tab-container .tab-contents h3 {
    margin: .6em 0;
}

.tab-container .tab-contents p {
    font-size: 13px;
}

.tab-contents .cont-list ul {
    margin: 14px 0;
    padding-left: 40px;
    font-size: 14px;
}

.tab-contents .cont-list li {
    line-height: 1.8;
    margin: 1em 0;
}

/* Project starts */

.project-container  {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box {
    background-color: #0f1930;
    border: 1px solid rgba(78,78,78,.358);
    border-radius: 10px;
    box-shadow: 3px 3px 5px 2px #000;
    margin: 1em;
    max-width: 350px;
    min-height: 235px;
    min-width: 215px;
    padding: 1.5em;
}

.project-box .project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-header img {
    width: 28px;
}

.project-box .project-content {
    text-align: left;
}

.project-box .project-content h3 {
    margin: 18px 0px;
    font-size: 18px;
    line-height: 1.5;
}

.project-box .project-content p {
    margin: 14px 0px;
    color: rgba(193,203,243,.922);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

.project-box .project-content div span {
    color: rgba(193,203,243,.922);
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
}

.view-more {
    display: block;
    margin: 30px auto;
}

/* Contact starts */

.contact-section {
    margin-bottom: 2em;
}

.contact-txt h1 {
    font-size: 4rem;
    margin: 1px 0;
}

.contact-handles ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

.contact-handles ul li a img  {
    width: 20px;
    height: 20px;
}